{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'website:index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Women</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li><a href="#">Coats</a></li>
                                                    <li><a href="#">Jackets</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shirts</a></li>
                                                    <li><a href="#">T-shirts</a></li>
                                                    <li><a href="#">Jeans</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="99"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Filter</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="product__item">
                                    <div class="product__item__pic">
                                        {% if product.main_image %}
                                            <img src="{{ product.main_image|thumbnail_url:'400x400' }}" class="img-fluid" alt="{{ product.title }}">
                                        {% else %}
                                            <img src="{% static 'images/placeholder.png' %}" class="img-fluid" alt="Product Image">
                                        {% endif %}
                                        {% if product.has_discount %}
                                            <div class="label discount">Discount</div>
                                        {% else %}
                                            <div class="label new">New</div>
                                        {% endif %}
                                        <ul class="product__hover">
                                            <li><a href="{{ product.main_image|thumbnail_url:'800x800' }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6 style="font-size: 1.1rem; font-weight: 600;">
                                            <a href="{% url 'website:product_detail' product.id %}" style="color: #333;">{{ product.title }}</a>
                                        </h6>
                                        <h6 style="font-size: 0.9rem; color: #888;">
                                            Sold by: <a href="{% url 'website:product_detail' product.id %}" style="color: #888;">{{ product.vendor }}</a>
                                        </h6>
                                        <div class="product__price">
                                            {% if product.has_discount %}
                                                <span style="color: #888; text-decoration: line-through; font-size: 0.9rem;">${{ product.price|floatformat:2 }}</span>
                                                <span style="color: #ff4747; font-size: 1.1rem;"> ${{ product.final_price|floatformat:2 }}</span>
                                            {% else %}
                                                <span style="color: #333; font-size: 1.1rem;">${{ product.price|floatformat:2 }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No products available.</p>
                        {% endfor %}
                    </div>

                    <!-- Pagination -->
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option">
                            {% if products.has_previous %}
                                <a href="?page=1">&laquo;</a>
                                <a href="?page={{ products.previous_page_number }}">&lsaquo;</a>
                            {% endif %}

                            {% for num in products.paginator.page_range %}
                                {% if products.number == num %}
                                    <a class="active">{{ num }}</a>
                                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                <a href="?page={{ products.next_page_number }}">&rsaquo;</a>
                                <a href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Pagination End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}
