{% extends 'customer_base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper">
        <!-- Main Content -->
        <div class="main-panel">
            <div class="content">
                <div class="container">
                    <h2>Customer Profile</h2>

                    <div class="profile-details">
                        <p><strong>First Name:</strong> {{ customer.first_name }}</p>
                        <p><strong>Last Name:</strong> {{ customer.last_name }}</p>
                        <p><strong>Email:</strong> {{ customer.email }}</p>
                        <p><strong>Phone Number:</strong> {{ customer.phone_number }}</p>
                    </div>

                    <div class="profile-actions">
                        <a href="{% url 'dashboards:customer_edit' %}" class="btn btn-primary">Edit Profile</a>
{#                        <a href="#" class="btn btn-secondary">Change Password</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
